<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>harshad sir html page</title>
    <style>
        *
        {
            margin: 0px;
        }
        h1
        {
            background-color: black;
            color: aquamarine;
            display: inline;
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee>this saturday we have our jango class at 7.00 am in the morning</marquee></h1>
    </center>
    
</body>
</html>