<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macha html page</title>
    <style>
        *
        {
            margin: 0px;
        }
        h1,h1
        {
            background-color: blue;
            color: orangered;
            display: inline;
            text-align: center;
        }
       
    </style>
</head>
<body>
    <center>
        <h1><marquee>this is macha's html page</marquee></h1>
        <h1><marquee>he will do whatever he wants to do</marquee></h1>
    </center>
</body>
</html>