<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prabhas html page</title>
    <style>
        *
        {
            margin: 0px;
        }
        h1
        {
            background-color: blue;
            color: orangered;
            display: inline;
        }
    </style>
</head>
<body>
    <center>
        <h1><marquee>salaar is going to be the india's biggest blockbuster</marquee></h1>
    </center>
</body>
</html>